.elegant-calencar {
  margin: auto;
  z-index: 1000;
  background: #86837d;
  width: 19em;
  height: 19em;
  box-shadow: 9px 7px 10px 1px #575451;
  text-align: center;
  border: none;
  border-radius: 40px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearfix {
  display: inline-flex;
  margin-top: 1.5rem;
}

.pre-button0,
.next-button0 {
  font-weight: bold;
  background: #86837d;
  color: #4d3413;
  font-size: 2rem;
  padding: 8px;
  cursor: pointer;
}
.pre-button0:hover,
.next-button0:hover {
background-color: #4d3413;
color:#fff;
}
.head-month {
  font-weight: 600;
  background: #86837d;
  color: #4d3413;
  font-size: 2rem;
  padding: 9px;
}
#calendar {
  display: inline-block;
  background-color: #86837d;
}
#calendar tr {
  background: #86837d;
  height: 1.5em;
}
.tr-cal th {
  font-weight: 600;
  font-size: 1.5rem;
  background: #86837d;
  color: #4d3413;
  padding-bottom: 1rem;
}
.tr-cal th:hover {
  font-weight: 600;
  font-size: 1.5rem;
  background: #86837d;
  color: #4d3413;
  padding-bottom: 1rem;
  cursor: default;
}
.tb-cal td {
  width: 14%;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
tbody td:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
#selected {
  color: #fff;
  background-color: #4d3413;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
#today:hover {
  background-color: #4d3413;
  color: #fff;
}
#today {
  background-color: rgb(78 68 49 / 29%);
  color: #000000;
  border-radius: 50%;
}
#disabled {
  cursor: default;
  background: #86837d;
}
